/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
.header{
	background-color:#011e29;
	color:#f5f5f5;
	display:flex;
	justify-content:center;
	padding:12px;
}
.section{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.latest-news-section{
	background-color:#f5f5f5;
	padding:12px;
	width:30vw;
}
.pictorial-news-section{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:12px;
	width:30vw;
	text-align:center;
	border-radius:5px;
}


